.div-centrado{
    width: 500px;
    margin: auto;
}
h2{
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}